# {{ ansible_managed }}

set daemon {{ monit_check_services_interval }}
{% if monit_start_delay > 0 %}
  with start delay {{ monit_start_delay }}
{% endif %}
set logfile {{ monit_log_file }}
set pidfile {{ monit_pid_file }}
set idfile {{ monit_id_file }}
set statefile {{ monit_state_file }}
{% if monit_mailservers %}
set mailserver
{% for mailserver in monit_mailservers %}
{% if not loop.last %}
  {{ mailserver.name }}
{% if mailserver.port %}
  port {{ mailserver.port }}
{% endif %}
{% if mailserver.username %}
  username "{{ mailserver.username }}"
{% endif %}
{% if mailserver.password %}
  password "{{ mailserver.password }}"
{% endif %}
{% if mailserver.ssl %}
{% if mailserver.ssl.options %}
  using ssl with options {
{% for option in mailserver.ssl.options %}
    {{ option.name }}: {{ option.value }}
{% endfor %}
  }
{% else %}
  using ssl
{% endif %}
{% endif %}
{% if mailserver.timeout %}
  with timeout {{ mailserver.timeout }} seconds
{% endif %}
{% if mailserver.use_hostname %}
  using hostname "{{ mailserver.use_hostname }}"
{% endif %}
  ,
{% else %}
  {{ mailserver.name }}
{% if mailserver.port %}
  port {{ mailserver.port }}
{% endif %}
{% if mailserver.username %}
  username "{{ mailserver.username }}"
{% endif %}
{% if mailserver.password %}
  password "{{ mailserver.password }}"
{% endif %}
{% if mailserver.ssl %}
{% if mailserver.ssl.options %}
  using ssl with options {
{% for option in mailserver.ssl.options %}
    {{ option.name }}: {{ option.value }}
{% endfor %}
  }
{% else %}
  using ssl
{% endif %}
{% endif %}
{% if mailserver.timeout %}
  with timeout {{ mailserver.timeout }} seconds
{% endif %}
{% if mailserver.use_hostname %}
  using hostname "{{ mailserver.use_hostname }}"
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if monit_alert_email %}
{% if monit_alert_email_not_on %}
set alert {{ monit_alert_email }} but not on {
{% for event in monit_alert_email_not_on %}
{% if not loop.last %}
  {{ event }},
{% else %}
  {{ event }}
{% endif %}
{% endfor %}
}
{% endif %}
{% else %}
set alert {{ monit_alert_email }}
{% endif %}
set eventqueue
  basedir {{ monit_eventqueue_basedir }}
{% if monit_eventqueue_slots %}
  slots {{ monit_eventqueue_slots }}
{% endif %}
set mail-format {
  from: {{ monit_mail_format_from }}
  subject: {{ monit_mail_format_subject }}
  message: {{ monit_mail_format_message }}
}
{% if monit_httpd_enabled %}
set httpd port {{ monit_httpd_port }} and
  use address {{ monit_httpd_address }}
{% if monit_httpd_allow %}
{% for allow in monit_httpd_allow %}
  allow {{ allow }}
{% endfor %}
{% endif %}
{% endif %}
{% for include_dir in monit_include_dirs %}
include {{ include_dir }}
{% endfor %}
